{% extends "base.jinja" %}

{% block titulo %}
    Docker
{% endblock titulo %}

{% block titulo_card %}
    <h5 class="card-title"> {{ container.imagem }} </h5>
{% endblock titulo_card %}

{% block conteudo %}
    <div class="panel body">
        <ul class="list-group">
            <li class="list-group-item">ID: {{ container.id }}</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">Nome: {{ container.nome }}</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">Imagem: {{ container.imagem }}</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">Status: {{ container.status }}</li>
        </ul>

        <div class="row">
            <div class="col-sm-12 text-center">
                {% if container.status == 'running' %}
                <a href="/docker/stop" class="btn btn-danger">Parar</a>
                {% else %}
                <a href="/docker/start" class="btn btn-success">Iniciar</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock conteudo %}