{% extends "base.jinja" %}

{% block titulo %}
    Index
{% endblock titulo %}

{% block titulo_card %}
    <h5 class="card-title"> Inicio </h5>
{% endblock titulo_card %}

{% block conteudo %}
    <p class="card-text">Seja bem vindo a Dashboard de Servicos</p>
{% endblock conteudo %}