{% extends "base.jinja" %}

{% block titulo %}
Jenkins
{% endblock titulo %}

{% block titulo_card %}
<h5 class="card-title"> Jenkins | Jobs </h5>
{% endblock titulo_card %}

{% block conteudo %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome do Job</th>
            <th>Estado</th>
            <th>Acoes</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.fullName }}</td>
            <td>
                {% if not job.firstBuild %}
                Nunca Foi Construido
                {% elif job.lastSuccessfulBuild.number == job.nextBuildNumber-1 %}
                Sucesso
                {% else %}
                Falha
                {% endif %}
            </td>
            <td>
                <a href="/jenkins/build/{{ job.fullName }}" class="fa fa-repeat"> Construir</a>
                <a href="/jenkins/update/{{ job.fullName }}" class="fa fa-pencil"> Atualizar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock conteudo %}